Package: com.filippobiga.glyphpatch
Name: GlyphPatch
Depends: mobilesubstrate
Version: 0.1
Architecture: iphoneos-arm
Description: WebCore patch.
Maintainer: FilippoBiga
Author: FilippoBiga
Section: Tweaks
